annotated-types
APScheduler
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
et_xmlfile
Flask
Flask-Cors
Flask-JWT-Extended
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
mysql-connector-python
numpy
openpyxl
packaging
pandas
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
requests
rsa
six
tqdm
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
